html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
    background: #707070;
}

h1 {
 text-align: center;
 font-size: 125px;
 font-family: 'Press Start 2P', cursive;
 color: white;
}

.press {
    margin: 100px auto;
    background: black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFCC00;
    border-width: 5px;
    font-family: Verdana, sans-serif;
    font-size: 50px;
    color: #FFCC00;
}

.button {
    text-align: center;
    font-size: 100px;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 100px;
    margin: 500px;
    height: 100%;
}

.yes {
    height: 100%;
    background: #4CD946;
    margin: -500px;
}

.no {
    height: 100%;
    background: #FF3B30;
    margin: -500px;
}